[submodule "vendor/flexloop"]
	path = vendor/flexloop
	url = git@gitcode.com:flexloop/flexloop.git
	branch = main
[submodule "vendor/ark-cli"]
	path = vendor/ark-cli
	url = git@github.com:volcengine/ark-cli.git
[submodule "projects/xuanspace"]
	path = projects/xuanspace
	url = git@github.com:xinetzone/xuanspace.git
	branch = main
[submodule "vendor/knowledge-catalog"]
	path = vendor/knowledge-catalog
	url = git@github.com:GoogleCloudPlatform/knowledge-catalog.git
[submodule "vendor/awesome-okf"]
	path = vendor/awesome-okf
	url = git@github.com:yzfly/awesome-okf.git
	branch = main
	shallow = true
[submodule "vendor/awesome-okf-bundle"]
	path = vendor/awesome-okf-bundle
	url = git@github.com:linyiru/awesome-okf.git
	branch = main
[submodule "vendor/awesome-okf-kit"]
	path = vendor/awesome-okf-kit
	url = git@github.com:vinodborole/awesome-okf-kit.git
	branch = main
[submodule "vendor/okf-bundle-template"]
	path = vendor/okf-bundle-template
	url = git@github.com:vinodborole/okf-bundle-template.git
	branch = main
