[submodule "vendor/flexloop"]
	path = vendor/flexloop
	url = git@gitcode.com:flexloop/flexloop.git
	branch = main
[submodule "vendor/ark-cli"]
	path = vendor/ark-cli
	url = git@github.com:volcengine/ark-cli.git

[submodule "projects/xuanspace"]
	path = projects/xuanspace
	url = git@github.com:xinetzone/xuanspace.git
	branch = main
