[submodule "vendor/flexloop"]
	path = vendor/flexloop
	url = git@gitcode.com:flexloop/flexloop.git
	branch = main
[submodule "vendor/ark-cli"]
	path = vendor/ark-cli
	url = git@github.com:volcengine/ark-cli.git
[submodule "projects/xuanspace"]
	path = projects/xuanspace
	url = git@github.com:xinetzone/xuanspace.git
	branch = main
[submodule "vendor/knowledge-catalog"]
	path = vendor/knowledge-catalog
	url = git@github.com:GoogleCloudPlatform/knowledge-catalog.git
[submodule "vendor/awesome-okf"]
	path = vendor/awesome-okf
	url = git@github.com:yzfly/awesome-okf.git
	branch = main
	shallow = true
[submodule "vendor/awesome-okf-bundle"]
	path = vendor/awesome-okf-bundle
	url = git@github.com:linyiru/awesome-okf.git
	branch = main
[submodule "vendor/awesome-okf-kit"]
	path = vendor/awesome-okf-kit
	url = git@github.com:vinodborole/awesome-okf-kit.git
	branch = main
[submodule "vendor/okf-bundle-template"]
	path = vendor/okf-bundle-template
	url = git@github.com:vinodborole/okf-bundle-template.git
	branch = main
[submodule "projects/awesome-okf-xs"]
	path = projects/awesome-okf-xs
	url = git@github.com:awesome-flexloop/awesome-okf.git
	branch = main
[submodule "vendor/jira-skill"]
	path = vendor/jira-skill
	url = git@github.com:netresearch/jira-skill.git
[submodule "vendor/veadk-python"]
	path = vendor/veadk-python
	url = git@github.com:volcengine/veadk-python.git
[submodule "vendor/podman-compose"]
	path = vendor/podman-compose
	url = git@github.com:containers/podman-compose.git
[submodule "vendor/podman-py"]
	path = vendor/podman-py
	url = git@github.com:containers/podman-py.git
[submodule "vendor/toolbox"]
	path = vendor/toolbox
	url = git@github.com:containers/toolbox.git
[submodule "vendor/netease-youdao/BCEmbedding"]
	path = vendor/netease-youdao/BCEmbedding
	url = git@github.com:netease-youdao/BCEmbedding.git
[submodule "vendor/netease-youdao/Confucius4-TTS"]
	path = vendor/netease-youdao/Confucius4-TTS
	url = git@github.com:netease-youdao/Confucius4-TTS.git
[submodule "vendor/netease-youdao/EmotiVoice"]
	path = vendor/netease-youdao/EmotiVoice
	url = git@github.com:netease-youdao/EmotiVoice.git
[submodule "vendor/netease-youdao/LobsterAI"]
	path = vendor/netease-youdao/LobsterAI
	url = git@github.com:netease-youdao/LobsterAI.git
[submodule "vendor/netease-youdao/QAnything"]
	path = vendor/netease-youdao/QAnything
	url = git@github.com:netease-youdao/QAnything.git
[submodule "vendor/netease-youdao/ScholarClaw"]
	path = vendor/netease-youdao/ScholarClaw
	url = git@github.com:netease-youdao/ScholarClaw.git
